<div class="col-md-4 col-md-offset-4 top-buffer">
	<div class="group-header">
		<div class="text-center"><h4>Please enter your details</h4></div>
	</div>
	<div class="col-md-12 whitesmoke-boarder">
		
<%= simple_form_for @profile,:html => { :class => 'form-horizontal' } do |f| %>

<div class="form-group">
	<div class="text-center"><%= f.label "First name"%> </div>
    <%= f.input :firstname, label: false, :input_html => { class: 'form-control'}%>
</div>
<div class="form-group">
	<div class="text-center"><%= f.label "last name"%> </div>
    <%= f.input :lastname, label: false, :input_html => { class: 'form-control'} %>
</div>
<div class="form-group">
	<%= f.submit "Enter", :class=>"btn btn-success btn-block btn-lg"%>
	</div>
<% end %>

</div>

</div>
