<h2>Search</h2>
<%=form_tag profiles_path, class: "form-inline", method: :get do %>
<div class="form-group">
  <%= text_field_tag :query, params[:query], class: "form-control" %>    
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% if params[:query].present? %>    
    <%= link_to "clear", profiles_path %>
  <% end %>
  <%end%>
</div>


<% paginate @user%>
<%= render partial: "profiles/user"%>
