<% title "Profile" %>

<p>
  <strong>Firstname:</strong>
  <%= @profile.firstname %>
</p>
<p>
  <strong>Lastname:</strong>
  <%= @profile.lastname %>
</p>
<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>
<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>
<p>
  <strong>Phoneno:</strong>
  <%= @profile.phoneNo %>
</p>

<p>
  <%= link_to "Edit", edit_profile_path %> |


</p>
<%= form_for @user, :html => { :multipart => true } do |f| %>
	<p>
		<%= f.fields_for :useravatar do |g|%>
		<%= g.label :useravatar %>
		<%= g.file_field :attachment %>
		<%end %>
		<%= f.submit%>
	<p>
		
<%end%>		
