<h2>Search</h2>
<%=form_tag group_path, class: "form-inline", method: :get do %>
<div class="form-group">
  <%= text_field_tag :query, params[:query], class: "form-control" %>    
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% if params[:query].present? %>    
    <%= link_to "clear", group_path %>
  <% end %>
  <%end%>
</div>
<h3>Search Results</h3>
<%= paginate @profiles%>
<%= render "users", locals: @profiles%>

<h2>Network Users</h2>
<div class="page-gallery">
	<div id="gallery">    
		<!-- Each element -->
		<% @users.each do |f|%>
			use friendship partials for displaying invite users to groups
			
					<li> <%=link_to "#{f.full_name}", user_path(f.id) %> </li>

		<%end%>
	</div>
</div>