<%=content_for :script do%>
<%=javascript_include_tag "localfeeds"%>
<%end%>
<% @scribble = Scribble.new %>
<div class="row">
  <div class="col-md-12">
	<div id="post_form">
		<%=render :partial => 'scribbles/new', :locals => {:scribbled => @scribbled}%>
  		</div>
	</div>
</div>

<div class="row">
		<div class="col-md-12">
			<div id="infinite-table">
			<%=render :partial => 'scribbles/scribbles', :locals => {:scribbles => @scribbles}%>
			</div>
		</div>
</div>
<%= paginate @scribbles %>
