
<h5>User Search</h5>
<%= form_tag showusers_path, method: :get, :class=> "form-inline" do %>
<br /><form class="form-inline" role="form">
  <div class="form-group">
			
			<%= search_field_tag :query, params[:query], placeholder: "Look by name", autocomplete: "off", class: "form-control", size: 51, id: "name_search" %> 
		</div>					
			<div class="form-group">
			 <%= search_field_tag :location, params[:location], placeholder: "See users in location", class: "form-control", size: 51%>  
		</div>		
						<%= submit_tag "Search", class: "btn btn-default" %>
						   <% if params[:query].present? %>

    					<%= link_to "Clear", usersearch_path, class: "btn btn-default" %>
	</form>

  <% end %>
  <%end%>


<%if !@users.nil?%>
<%= paginate @users%>
<%= render partial: "users/userdetails"%>
<%end%>

  

  
