
<div class="container nopadding">
<div class="row">
	<div class="col-md-12 nopadding" style="top:-10px;">
		<%= image_tag(@user.usercover.url(:large), :class => "img-thumbnail", :style => "width:100%; height:286px;")%>
		<%= link_to image_tag(@user.useravatar.url(:small),:size => "138x138"), user_path(@user), :class => "userpin"%>
	</div>
</div>

<div class="row">
	<div class="col-md-4 nopadding">
		<%= render partial: "albums/smallalbum", :locals => {:albumable => @user}%>
	</div>
	<div class="col-md-4 nopadding">
		<%= render partial: "skills/smallskills"%>
	</div>
	<div class="col-md-4 nopadding">
		<%= render partial: "smallinfo"%>
	</div>
</div>
</div>
<br>
<div class="row">
	<div class="col-md-8" >
	<%= render :partial => "feeds", :locals => {:scribbled => @scribbled} %>
	</div>

</div>

