<div class="row">
<div class="col-md-10">
<%= form_tag skills_path, method: :get do %>
	<div class="form-inline">
		<div class="form-group">
			<%= search_field_tag :q, params[:q], placeholder: "Look-up by name", 
			autocomplete: "off", :class => "form-control"%> 
		</div>	
		<div class="form-group" style="margin-top: -10px;">
			<%= submit_tag "Search", class: "btn btn-info" %>
		</div>	
	</div>			 
  <%end%>
</div>
<div class="col-md-2">
	<%= link_to "New Skill", new_skill_path, :class=> "btn btn-success btn-block "%>
</div>
</div>

<%if !@skills.nil?%>
<%= render partial: "skill", locals:{skills: @skills}%>
<%= paginate @skills%>
<%end%>