<div class="row">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
		  <li class="active"><a href="#tab_a" data-toggle="pill"><strong style="color:black;">Introduction</strong></a></li>
		  <li><a href="#tab_b" data-toggle="pill"><strong style="color:black;">Education</strong></a></li>
		  <li><a href="#tab_c" data-toggle="pill"><strong style="color:black;">Work Experience</strong></a></li>
		  <li><a href="#tab_d" data-toggle="pill"><strong style="color:black;">Projects</strong></a></li>
		  <li><a href="#tab_e" data-toggle="pill"><strong style="color:black;">Personal details</strong></a></li>
		</ul>
	</div>
	<div class="col-md-10">
		<div class="tab-content" style="background-color: white">
		        <div class="tab-pane active" id="tab_a">

<p>
“I love it when a plans comes together” by John ‘Hannibal’ Smith (A-Team) is famous phrase that in a way sums up why I like programming so much. I’m very fortunate because I get to experience this feeling rather often after struggling and racking my brain to build lots of small intricate parts that at the end come together. And like every episode, the bigger and more intense the challenge is - the more interesting and exciting it is to work on. 
</p>
<p>
I have been learning programming languages and developing since starting college and in university, but I became honestly passionate about it only when I came across Ruby-on-Rails and Coffee Script. It has been more than two years now and I’m still as passionate and curious as the days when I found them. Ever since then I have been working on projects. Started from developing a local social platform with skill and stuff sharing features and later on I moved onto helping people to build and develop complicated booking systems and many other related parts. I’m very fortunate to have worked along side some great and meticulous developers that would have never commit any of my work if it was up to the their standard. So far it was a challenging and rewarding journey that required a great deal of self-motivation, patience and research. Thanks to it, I have grown to be a confident and capable developer who is eager to tackle complex project or finish small tasks as soon as possible in order to start bigger projects.
</p>
<p>
I’m very curious, eager to learn and quick to pick up new skills. I believe I can quickly become a valuable part of a team and work really well with others as well as on my own. As a programmer I would love to be in an environment that nurtures learning and keeps challenging the mind.
And as a person I just want to do something meaningful, stimulating and fun all the time.
</p>
<p>
</p>
		        </div>
		        <div class="tab-pane" id="tab_b">
<strong>2009-2012</strong> – Staffordshire University, BSc. Computer game design and programming(2.1)</br>
<strong>2007-2009</strong> – Worcester College of Technology, Software Development (DDM) 
		        </div>
		        <div class="tab-pane" id="tab_c">
<strong>2015-05-current</strong> -  BookingBug Ltd., Full-Stack Developer</br>
</br>
Started of as a junior developer and quickly became a mid level developer, trusted by other developers and project managers. I have proven that I’m capable of handling all tasks in a timely and reliable manner. Had a distinct pleasure of working with and learning from many amazing, professional and meticulous developers in a fast paced agile environment. Worked on all levels of the system from simple bug fixes to integrating new payment systems, adding new features, creating complex reporting systems, expanding REST APIs and developing front end with AngularJs and Coffee Script to handle them.      
<strong>2013-2014</strong> – Undersky.co.uk, Start-up Co-founder and developer</br>
</br>
Undersky was an idea based on belief that our neighbourhoods can be friendlier, safer and more sociable for everyone. Thus we wanted to create a private social network for neighbours that would include hire and rental market of underutilized items, and a skill-sharing platform. Most of the time there were only two of us working on it. I was responsible for the research, planning, designing and programming of the platform. 
</br>


</br>
		        </div>
		        <div class="tab-pane" id="tab_d">

<div class="text-center">

<h3>Frameworks and languages used</h3></br>
	<%= image_tag("rails.jpg", :alt=>"Ruby-on-Rails", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("angular.png", :alt=> "AngularJs", :size => "60x60", :class=> "img-thumbnail")%>
	<%= image_tag("CoffeeScript.png", :alt=>"Coffee Script", :size =>"80x60", :class => "img-thumbnail")%>
	<%= image_tag("unix.png", :alt=>"Unix", :size => "60x60", :class => "img-thumbnail") %>
	<%= image_tag("rspec.png", :alt=>"rspec", :size => "80x60", :class => "img-thumbnail")%>
	<%= image_tag("css3.png", :alt=>"CSS3", :size => "42x60", :class => "img-thumbnail")%>
	<%= image_tag("jquery.jpg", :alt=>"jQuery", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("bootsrap.jpeg", :alt=>"Bootstrap", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("html5.png", :alt=>"HTML5", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("sql.png", :alt=>"SQL, lite, Postgresql", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("es.png", :alt=>"Elastic Search", :size => "80x60", :class=> "img-thumbnail")%>
	<%= image_tag("git.png", :alt=>"GitHub", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("aws.png", :alt=>"Amazong Web Services", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("jira.png", :alt=>"Jira", :size => "80x80", :class => "img-thumbnail")%>
	<%= image_tag("adobe.jpg", :alt=>"Adobe PhotoShop, Illustrator, Fireworks", :size => "90x180", :class => "img-thumbnail")%>
</br>
</br>
</div>
<div class="row">
	<div class="col-md-4 boardered2">
		<%= link_to image_tag("1logo.png", :alt=>"https://github.com/undersky0/x3", :class => "img-responsive aspect center-block"), "https://github.com/undersky0/x3"%>
		<h2 class="text-center"><strong>Undersky Project</strong></h2>
		<div class="text-center">
		<p>This is my first and biggest project. All of the above tools were used in developemnt of it.</p>
		<p>It's still in development and will be for as long as I'm learning. In this project I prioritised learning over code quality. It's about learning as fast as possible, and the code quality improves as I progres along. Thats why you may find same things done in a few different ways and a lot of unrefactored code.</p>
		</div>
	</div>
	<div class="col-md-4 boardered2">
		<%= link_to image_tag("api.png", :alt=>"https://github.com/undersky0/API", :class => "img-responsive aspect center-block"), "https://github.com/undersky0/API"%>
		<h2 class="text-center"><strong>Order managment API</strong></h2>
		<div class="text-center"><p>
			It's a reletively simple rails API example that I did in order to further my understanding about APIs and writting tests for them as well as working with state machine and serializing json data.
		</p></div>
	</div>
	<div class="col-md-4 boardered2">
		<%= link_to image_tag("chart.png", :alt=>"https://github.com/undersky0/polltest", :class => "img-responsive aspect center-block"), "https://github.com/undersky0/polltest"%>
		<h2 class="text-center"><strong>Straw poll & chart test</strong></h2>
		<div class="text-center"><p>
			This is a test for creating charts and polls. Shows use of external APIs and displays results in charts for parliamentary votes and party votes.
		</br>While learning done quite a few small tests like this one, they help to quench my curiosity and to learn new things. 
		</p></div>
	</div>			
</div>

		        </div>
		        <div class="tab-pane" id="tab_e">
<div class="row">
<address>
Caledonian Road, </br>
London,</br>
N1 0AA</br>
Tel: 07564059192</br>
Richardlonesteen@gmail.com or <%=mail_to "Richardlonesteen@gmail.com", subject: "Hi Richard" do %>
      <i class="fa fa-envelope"> Click here</i>
      <%end%>
  </br>
Project Git: <a href="https://github.com/undersky0/x3"> <i class="fa fa-github"> Click here</i></a><br>
LinkedIn:<a href="https://uk.linkedin.com/pub/richard-d-lonesteen/63/799/485"> <i class="fa fa-linkedin-square"> Click here</i></a>
</address>
<!-- <div class="col-md-5">
</div> -->
</div>
		        </div>
		</div><!-- tab content -->
	</div>
</div>