<div class="row">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
		  <li class="active"><a href="#tab_a" data-toggle="pill"><strong style="color:black;">Introduction</strong></a></li>
		  <li><a href="#tab_b" data-toggle="pill"><strong style="color:black;">Education</strong></a></li>
		  <li><a href="#tab_c" data-toggle="pill"><strong style="color:black;">Work Experience</strong></a></li>
		  <li><a href="#tab_d" data-toggle="pill"><strong style="color:black;">Software Skills</strong></a></li>
		  <li><a href="#tab_e" data-toggle="pill"><strong style="color:black;">Personal details</strong></a></li>
		</ul>
	</div>
	<div class="col-md-10">
		<div class="tab-content" style="background-color: white">
		        <div class="tab-pane active" id="tab_a">

<p>
Been programming in some form for several years. But only a little more than a year ago I came across Ruby-on-Rails. Ever since then I have been independently learning and working on ROR start-up project 'Undersky'.  It required a great deal of research, self-motivation and patience to get started from scratch. And now I really feel ready to join a team and apply all of that experience to new projects and further learning.
</p>
<p>
I’m very curious, eager to learn and quick to pick up new skills. I believe I can quickly become a valuable part of a team and work really well with others as well as on my own. As a programmer I would love to be in an environment that nurtures learning and keeps challenging the mind. 
Currently I’m living in Cardiff, but I wouldn't mind to relocate.
</p>
<p>
Thank you for taking the time to consider this application and I look forward to hearing from you in the near future.
</p>
		        </div>
		        <div class="tab-pane" id="tab_b">
<strong>2009-2012</strong> – Staffordshire University, BSc. Computer game design and programming(2.1)</br>
<strong>2007-2009</strong> – Worcester College of Technology, Software Development (DDM) 
		        </div>
		        <div class="tab-pane" id="tab_c">
<strong>2013-2014</strong> – Undersky.co.uk, Start-up Co-founder and developer</br>
</br>
Undersky was an idea based on belief that our neighbourhoods can be friendlier, safer and more sociable for everyone. Thus we wanted to create a private social network for neighbours that would include hire and rental market of underutilized items, and a skill-sharing platform. Most of the time there were only two of us working on it. I was responsible for the research, planning, designing and programming of the platform. 
</br>
</br>
<strong>2013-2014</strong> – St. Davids Hotel, restaurant assistant </br>
</br>
This was an easy and relaxing part-time job that kept me afloat while I was working on the start-up.
		        </div>
		        <div class="tab-pane" id="tab_d">
<div class="text-center">
	<%= image_tag("rails.jpg", :alt=>"Ruby-on-Rails", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("rspec.png", :alt=>"rspec", :size => "80x60", :class => "img-thumbnail")%>
	<%= image_tag("css3.png", :alt=>"CSS3", :size => "42x60", :class => "img-thumbnail")%>
	<%= image_tag("jquery.jpg", :alt=>"jQuery", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("bootsrap.jpeg", :alt=>"Bootstrap", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("html5.png", :alt=>"HTML5", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("sql.png", :alt=>"SQL, lite, Postgresql", :size => "60x60", :class => "img-thumbnail")%>
	<%= image_tag("adobe.jpg", :alt=>"Adobe PhotoShop, Illustrator, Fireworks", :size => "90x180", :class => "img-thumbnail")%>
</br>
</br>
Ruby-on-Rails - Rspec - CSS – JavaScript – jQuery – Bootstrap – HTML – SQL </br>
Adobe Photoshop – Adobe Fireworks – Adobe Illustrator
</br>

</div>
<div class="row">
	<div class="col-md-4 boardered2">
		<%= link_to image_tag("1logo.png", :alt=>"https://github.com/undersky0/x3", :class => "img-responsive aspect center-block"), "https://github.com/undersky0/API"%>
		<h2 class="text-center"><strong>Undersky Project</strong></h2>
		<div class="text-center">
		<p>This is my first and biggest project. All of the above tools were used in developemnt of it.</p>
		<p>It's still in development and will be for as long as I'm learning. In this project I prioritised learning over code quality. It's about learning as fast as possible, and the code quality improves as I progres along. Thats why you may find same things done in a few different ways and a lot of unrefactored code.</p>
		</div>
	</div>
	<div class="col-md-4 boardered2">
		<%= link_to image_tag("api.png", :alt=>"https://github.com/undersky0/API", :class => "img-responsive aspect center-block"), "https://github.com/undersky0/API"%>
		<h2 class="text-center"><strong>Order managment API</strong></h2>
		<div class="text-center"><p>
			It's a reletively simple rails API example that I did in order to further my understanding about APIs and writting tests for them as well as working with state machine and serializing json data.
		</p></div>
	</div>
	<div class="col-md-4 boardered2">
		<%= link_to image_tag("chart.png", :alt=>"https://github.com/undersky0/polltest", :class => "img-responsive aspect center-block"), "https://github.com/undersky0/polltest"%>
		<h2 class="text-center"><strong>Starw Poll & chart test</strong></h2>
		<div class="text-center"><p>
			This is a test for creating charts and polls. Shows use of external APIs and displays results in charts for parliamentary votes and party votes.
		</br>While learning done quite a few small tests like this one, they help to quench my curiosity and to learn new things. 
		</p></div>
	</div>			
</div>

		        </div>
		        <div class="tab-pane" id="tab_e">
<br>
<div class="row">
<div class="col-md-5"> 
<address>
City Rd, </br>
London,</br>
EC1Y 2AG</br>
07564059192</br>
Richardlonesteen@gmail.com </br>
Project Git: <a href="https://github.com/undersky0/x3"> <i class="fa fa-github"> here</i></a>
</address>
</div>
<!-- <div class="col-md-5"> 
<%= render partial: "contact_froms/form"%>
</div> -->
</div>
		        </div>
		</div><!-- tab content -->
	</div>
</div>