<% title "Events" %>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Location Name</th>
    <th>Event Type</th>
    <th>Privacy</th>
    <th>About</th>
    <th>Headline</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.location_id %></td>
      <td><%= event.location_name %></td>
      <td><%= event.event_type %></td>
      <td><%= event.privacy %></td>
      <td><%= event.about %></td>
      <td><%= event.headline %></td>
      <td><%= link_to "Show", event %></td>
      <td><%= link_to "Edit", edit_event_path(event) %></td>
      <td><%= link_to "Destroy", event, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_event_path %></p>
