
<div class="page-gallery">
	<div id="gallery">    
		<!-- Each element -->
		<% if @user.requested_friends.empty? %>
		<h2>Noone picked you yet :)</h2>
		<%else%>
		<% @user.requested_friends.each do |g|%>
		<div class="element">
			<!-- Gallery image -->
			<%if g.avatar.nil?%>
			<%= link_to image_tag(g.useravatar.url(:default_url)), user_path(g.id), :class => "img-responsive" %> 
			<%else%>
				<%= link_to image_tag(g.useravatar.url(:large)), user_path(g.id), :class => "img-thumbnail", :style=> "width:150px; height:150px;" %> 
			<!-- Gallery caption -->
			<div class="gall-caption">
				<ul class="list-unstyled">
										
					<li><h3> <%=link_to g.full_name, user_path(g.id) %> </h3></li>
					<button type="button" class="btn btn-success btn-block"> <span class="fa fa-user fa-1.5x"></span> <%= link_to "Accept", accept_fr_friendships_path(:id => g.id) %></button>
					<button type="button" class="btn btn-warning btn-block"> <span class="fa fa-plus-circle fa-1.5x"></span>  <%= link_to "Decline", reject_fr_friendships_path(:id => g.id )%></button>
						
				</ul>
			</div>
			</div>
			<%end%>
		<%end%>
			
		<%end%>
	</div>
</div>