
<%= form_for @scribble, html:{:class => 'dropzone', multipart: true},:remote=>true do |f| %>
<div class="row">
	<div class="col-md-8">
		<div id= "post_errors" style="display:none"></div>
    		<%= hidden_field_tag :scribbled_type, @scribbled.class.name%>
    		<%= hidden_field_tag :scribbled_id, @scribbled.id%>
                <%= f.text_area :post,:rows=>3,:placeholder=>"What's on your mind,  #{current_user.full_name}?",
                :class=>"form-control"%>  
        <div class="sribble-status-actions" id="refreshscribbles">
                <%= f.submit "Share",:class=>"btn btn-info" %>
        </div>
	</div>
</div>

<% end %>

