<%= form_for @invitation do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :invited %><br />
    <%= f.text_field :invited %>
  </p>
  <p>
    <%= f.label :inviteable %><br />
    <%= f.text_field :inviteable %>
  </p>
  <p>
    <%= f.label :sent_at %><br />
    <%= f.date_select :sent_at %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p><%= f.submit %></p>
<% end %>
