
<%=javascript_include_tag "fancybox/source/jquery.fancybox" %>
<%=stylesheet_link_tag "fancybox/source/jquery.fancybox" %>


       <% @album.pictures.each do |picture|%>
      <div class="col-md-4">
       <div class="panel panel-default">
       	<div class="panel-thumbnail">
      		
          
			<%= link_to image_tag(picture.file_url(:album), size: '324x238'), picture.file_url(:large), :class => 'fancybox', :rel => 'group' %>
          	
          
          <div class="panel-body">
            <p><%= best_in_place picture, :description, :type => :input, :nil => "Click me to add content!" %>
            	<%= picture.description%>
            </p>
            <p>
            	<div class="center">
            	<%= button_to album_picture_path(:picture_id => picture.id, :album_id => @album.id),
            	 :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-info btn-block", data: { confirm: "Are you sure?" }  do %>
            	 <span class="fa fa-edit"></span>
				 Remove
				<% end %>
				</div>
            </p>
          </div>
        </div>
      </div>
      </div><!--/col-->
       <% end %>
