<div class="outer-page">

 <!-- Login page -->
 <div class="login-page">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-justified">
		  <li class="active"><a href="#login" data-toggle="tab" class="br-transparent"><i class="fa fa-sign-in"></i> Sign In</a></li>
		  <li><a href="#register" data-toggle="tab" class="br-#428bca"><i class="fa fa-pencil"></i> Sign Up</a></li>
		  <li><a href="#contact" data-toggle="tab" class="br-#428bca"><i class="fa fa-envelope"></i> Mail Us</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane fade active in" id="login">
			<!-- Login form -->
			
	      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), defaults: {input_html: {class: 'form-horizontal'}}) do |f| %>
		  <%= f.input :email, :required => true, :autofocus => true, :input_html => { class: 'form-control', id: 'email'} %> 
	      <%= f.input :password, :required => false, placeholder: "Password", :input_html => {class: 'form-control', id: 'password'} %>
		  <%= f.input :remember_me, :as => :boolean, checked_value: true, label: false, wrapper_html: { class: 'checkbox'}, inline_label: 'Yes, remember me' if devise_mapping.rememberable? %>
		  <%= f.button :submit, "Sign in", :class => 'btn btn-success btn-lg' %>
				<% end %>
				<div class="clearfix"></div></br>
				<%= render "devise/shared/links" %>
				
			 </div>
		  <div class="tab-pane fade" id="register">
			<!-- Register form -->
			<%= render partial: "registrations/new"%>
		  </div>
		  
		  
		  <div class="tab-pane fade" id="contact">
			
			<!-- Contact Form -->
			
			<form role="form" action="index.html">
			  <div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" placeholder="Name">
			  </div>
			  <div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" id="email" placeholder="Email">
			  </div>
			  <div class="form-group">
				<label for="message">Message</label>
				<textarea rows="3" class="form-control"></textarea>
			  </div>
			  <button type="submit" class="btn btn-info btn-sm">Submit</button>
			  <button type="reset" class="btn btn-default btn-sm">Reset</button>
			</form>
			
		  </div>
		  </div>
		</div>
		
 </div>	
