<h1>New location</h1>

<%= form_for(@location || Location.new, :url => { :action => "create", :controller => "locations" }) do |f| %>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, :placeholder => "E.g. 90 Crazy Street", 
    :id => "geocomplete", :class => "ui-autocomplete-input", :autocomplete=>"off" %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="actions">
    <%= f.submit "Enter Location", :class => "btn btn-large btn-success" %>
  </div>
<% end %>


<%= link_to 'Back', locations_path %>


<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js' type='text/javascript'></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script src="jquery.geocomplete.js"></script>		
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px; position: relative; background-color: rgb(229,227,223); overflow: hidden;'>
  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
	
var options = {
          map: ".map_canvas"
        };

$("#geocomplete").geocomplete(options);

<%end%>




