<!DOCTYPE html>
<html>
<head>
    <title>Door to Undersky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->


    <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600,800' rel='stylesheet'>
		<%= stylesheet_link_tag    "application" %>
		<%= stylesheet_link_tag		"devise"%>
		<%= javascript_include_tag "application"%>
    <style>
    </style>

</head>
<body>
	
    <div class="container">
    	<div class="row">
    		<div class="col-md-6">
    			<%= link_to image_tag('57.png'), home_path%>
    		</div>
    		<div class="col-md-5">
    			</br>
    			</br>
    			</br>
    			</br>
            </div>
        </div>
      <% if current_page?(:controller => 'profiles', :action => 'new') %>
      <br>
          <%else%>
      <div class="row">
          <nav class="navbar navbar-default" style="background-color: #FFFFFF;">
            <div class="container-fluid">
              <div class="navbar-header">
                <ul class="nav navbar-nav">
                <%= link_to image_tag("1logo.png", :alt=>"http://www.undersky.co.uk/home", :class => "navbar-brand"), "http://www.undersky.co.uk/home"%>

                    <li><%= link_to "Home", home_path %></li>
                    <li><%= link_to "CV", aboutme_path %></li>
                    <li><%= link_to "Undersky project", undersky_project_path %></li>
                    <li><%= link_to "Notes", blog_posts_path %></li>
                  </ul>
              </div>
            </div>
          </nav>
      </div>
          <%end%>
      <div class="row">

        <%=yield %>
        <%=render partial: "layouts/about_footer"%>
      </div>

    </div>

</body>

<%=yield(:script)%>
</html>